
<main class="main">
  <div class="content">
    <div class="item-container" >
        <h1>{{ title() }}</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="item-container" >
      <mat-accordion multi>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> <p style="font-size: 128px;">{{ entry.kanji }}</p> </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Pronuncia: <span [innerHTML]="entry.pronounces"></span></p>
          <p>Traduzione: <span [innerHTML]="entry.translations"></span></p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="item-container" >
                  <button mat-raised-button (click)="nextItem()">Avanti</button>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="item-container" >
                  Setting
              </div>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div class="item-container" >
            <mat-form-field>
                <mat-label>Max Id</mat-label>
                <input name="maxId" matInput id="maxId" [formControl]="maxIdFormControl">
                @if ((maxIdFormControl.hasError('min') || maxIdFormControl.hasError('max') || maxIdFormControl.hasError('pattern') ) && !maxIdFormControl.hasError('required')) {
                    <mat-error><span>Valore MaxId <strong>errato</strong> [ 0 - {{ this.data.elements.length }} ]</span></mat-error>
                }
                @if (maxIdFormControl.hasError('required')) {
                    <mat-error><span>MaxId è <strong>richiesto</strong></span></mat-error>
                  }
            </mat-form-field> 
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</main>


<router-outlet />
